.login.first_user .wrapper {
  top: 38%;
}

#main .breadcrumbs {
  margin-bottom: 20px;
}

.show_color {
	display: block;
	width: 100%;
	height: 20px;
}


/*  Accounts
    ------------------------------------------------------- */

/*  Middle Span
    ------------------------------------------------------- */
/*.person_data div .span12 {
  width: 940px;
}

.person_data div .span11 {
  width: 861.66px;
}

.person_data div .span10 {
  width: 783.33px;
}

.person_data div .span9 {
  width: 705px;
}

.person_data div .span8 {
  width: 626.66px;
}

.person_data div .span7 {
  width: 548.33px;
}

.person_data div .span6 {
  width: 470px;
}

.person_data div .span5 {
  width: 391.66px;
}

.person_data div .span4 {
  width: 313.33px;
}

.person_data div .span3 {
  width: 235px;
}

.person_data div .span2 {
  width: 156.66px;
}

.person_data div .span1 {
  width: 78.33px;
}*/


.person_data div span{
	padding: 10px 5px;
	text-align: left;
	border: 1px solid #eee;
	margin: 0 !important;
}
.person_data div span.title{
	font-weight: bold;
	text-align: center;
	background-color: #eee;
}

.loaderSmall {
  background: url("/assets/my_admin/loading.gif") no-repeat center center;
  display: block;
  height: 10px;
  width: 100%;

}